<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hpl.user.mapper.UserRelationMapper">

    <!-- 查询用户的关注列表，即粉丝id是自己   -->
    <select id="queryUserFollowList"
            resultType="com.hpl.user.pojo.dto.FollowUserInfoDTO">

        SELECT
        u.user_id as userId,
        u.nick_name as userName,
        u.photo as avatar,
        r.id as relationId,
        true as followed
        FROM user_relation as r
        left join user_info as u on r.user_id = u.user_id
        WHERE
        r.follow_user_id = #{followUserId}
        and r.follow_state = ${@com.hpl.user.pojo.enums.FollowStateEnum@FOLLOW.code}
        ORDER BY u.id desc
<!--        <if test="pageParam != null">-->
<!--            limit #{pageParam.offset}, #{pageParam.limit}-->
<!--        </if>-->
    </select>
</mapper>