<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hpl.user.mapper.UserFootMapper">

    <select id="listSimpleUserInfosByArticleId"
            resultType="com.hpl.article.pojo.dto1.SimpleUserInfoDTO">
        SELECT ui.user_id as userId,
               ui.nick_name as name,
               ui.photo as avatar,
               ui.profile as profile
        FROM user_foot uf
                 left join user_info ui on uf.user_id = ui.user_id
        WHERE uf.document_type = #{type}
          AND uf.document_id = #{documentId}
          AND uf.praise_state = 1
        order by uf.update_time desc limit #{size}
    </select>


    <!-- 注意文章的阅读计数不能使用SUM，因为read_count表中记录的已经是总数了   -->
    <select id="countArticleByArticleId"
            resultType="com.hpl.statistic.pojo.dto.ArticleFootCountDTO">
        SELECT
            sum(if (f.praise_state =${@com.hpl.article.enums.PraiseStateEnum@PRAISE.code}, 1, 0)) as praiseCount,
            sum(if (f.collection_state =${@com.hpl.article.enums.CollectionStateEnum@COLLECTION.code}, 1, 0)) as collectionCount,
            avg(r.`cnt`) as readCount
        FROM
            read_count as r left join user_foot as f  on f.document_id = r.document_id and f.document_type = r.document_type
        WHERE
                r.document_type = ${@com.hpl.article.enums.DocumentTypeEnum@ARTICLE.code}
          AND r.document_id = #{articleId}

    </select>


    <select id="countArticleByUserId"
            resultType="com.hpl.statistic.pojo.dto.ArticleFootCountDTO">
        SELECT
            sum(if (f.praise_state =${@com.hpl.article.enums.PraiseStateEnum@PRAISE.code}, 1, 0)) as praiseCount,
            sum(if (f.collection_state =${@com.hpl.article.enums.CollectionStateEnum@COLLECTION.code}, 1, 0)) as collectionCount
        FROM
            user_foot as f
        WHERE
                f.document_type = ${@com.hpl.article.enums.DocumentTypeEnum@ARTICLE.code}
          AND f.document_user_id = #{userId}

    </select>


    <select id="getFootCount"
            resultType="com.hpl.statistic.pojo.dto.StatisticUserFootDTO">
        SELECT
            sum(if (f.praise_state =${@com.hpl.article.enums.PraiseStateEnum@PRAISE.code}, 1, 0)) as praiseCount,
            sum(if (f.collection_state =${@com.hpl.article.enums.CollectionStateEnum@COLLECTION.code}, 1, 0)) as collectionCount,
            sum(if (f.read_state =${@com.hpl.article.enums.ReadStateEnum@READ.code}, 1, 0)) as readCount,
            sum(if (f.comment_state =${@com.hpl.article.enums.CommentStateEnum@COMMENT.code}, 1, 0)) as commentCount
        FROM
            user_foot as f
    </select>

</mapper>